nav {

}
.nav-link {
    color: gray;
}

.nav-item a:hover {
    color: yellow;
}

.getapp {
    height: 3rem;
    width: 9rem;
    border: none;
}

.smalltext {
    font-size: x-small;
}

img, svg {
    vertical-align: middle;
}

.smartwallet {

    background-color:#E5EFFF;
    height: 54%;
}

.wallettext {
    animation: enter 2s ease-out;
    /* animation: ; */
}

@keyframes enter {
    /* 20% {transform: translateZ(40vw)} */
    50% { transform: translateZ(40vw)}
}


.smartwallet h3 {
    /* reserved for animation */
}

.pushpayments {
    height: 54%;
}



.autobudgeting {
    background-color:#E5EFFF;
    height: 54%;
}


.discounteddeals {
    height: 54%;
}

.howItWorks {
    background-color: #F2F3F6;
    height: 55%;
}

.card-title {
    color: #00255E
}

.paymentsblue {
    background-color:#00255E;
    height: 30%;
}

.scanning {
    animation: float 2s linear;
    position: absolute;
    top: 40%;
    left: 22%;
    /* z-index: -1; */ 
    margin: 2em;
    }
    
    @keyframes float {
        0% {transform: translateY(20vw)}
        50% { transform: translateY(0vw)}
    }
    

.testimonials {
    height: 35%;
}

.testcardp {
    line-height: 2rem;
}

.round {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: none;
}

.last {
    background-color: #F2F3F6;
    height: 20.5%;
}

.btnwhite {
    background-color: white;
}

.bluecircle {
    height: 3.8rem;
    width: 3.8rem;
    background-color: #1068ED;
    top: 89%;
    left: 95%;

}

.grayfilter {
    filter: grayscale(2)
}

.arrows {
    left: -2%;
    position: absolute;
    width: 0;
    z-index:1000;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 8px 0;
    border-color: transparent black transparent transparent;
}


.budgetSavePay, h3:hover {
    text-decoration: underline;
}

.text-height-2 {
    line-height:2rem;
  }


.modal-dialog-slideout {min-height: 100vh; min-width: 100vw; margin: 0 0 0 auto;background: #fff;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(-100%,0)scale(1);transform: translate(-100%,0)scale(1);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);display: flex;align-items: stretch;-webkit-box-align: stretch;height: 100%;}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{overflow-y: auto;overflow-x: hidden;}
.modal-dialog-slideout .modal-content{border: 0; background-color: #0657CD;}
.modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {height: 69px; display: block;} 
.modal-dialog-slideout .modal-header h5 {float:left;}




@media (max-width: 768px) { 

    /*Have to use this since there's no class for the extra-small screen version of flex-direction/order swap in bootstrap: */

.rowswap {
    display: flex;
    flex-direction: column;
}

.textswap {
order: 1;
}

.phoneswap {
    order: 2;

}

/* Have to use this for large screens because, for some reason, this ("justify-content-md-center") is affecting large, non-mobile screens: */


.centermedium {
    justify-content: center;
}


.bluecircle {

    left: 88%;

}



.zero {
    margin: 0 !important;
    padding: 0 !important;
}

.footerflex {
    display: inline-block;
}

}

@media (max-width: 576px) { 
   

    .bluecircle {

        left: 75%;
    
    }
    
}

@media (min-width: 424px) and (max-width: 427px) { 

    .img425center {

margin-left: 2rem;
    
    }
    

}


@media (max-width: 330px) { 

    .bluecircle {

        left: 81%;
    
    }
    

}

@media (min-width: 1022px) and (max-width: 1027px) { 

    .bluecircle {

left: 89%;
    
    }
    

}
